*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: antiquewhite;
}

#container{
    display: flex;
    background: white;
    padding: 20px;
    width: 60%;
    height: 80vh;
}

#sodaButtonsContainer{
    flex: 2 ;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 5px groove rebeccapurple;
    border-radius: 10%;
}

#sodaListContainer{
    flex: 3;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

#output{
    flex: 1;
}

#confirm{
    background-color: rgb(113, 255, 113);
}

#confirm:hover{
    background-color: rgb(52, 209, 52);
}

#coinsContainer{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.coinContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin{
    width: 115px;
    height: auto;
}

#cash{
    font-size: 1.4rem;
}

#sodaMachineContainer{
    flex: 2;
    position: relative;
    display: inline-block;
}

#vending{
    height: 100%;
    width:auto;
}

#price{
    position: absolute;
    height:12%;
    width: 13%;

    top: 5%;
    right: 6%;
    font-size: 0.8rem;
    text-align: center;
}

